<nav class="navbar navbar-expand navbar-light navbar-bg">

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav navbar-align">

      <ng-container *ngIf="!haveToken">
        <div class="col-6 text-left">
          <a class="navbar-brand" [routerLink]="['login']">Login</a>
        </div>
      </ng-container>

      <ng-container *ngIf="haveToken">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
            <img src="{{ getPicture() }}" class="avatar img-fluid rounded-circle mr-1" alt="{{ getName()}}"/>
            <span class="text-dark">{{ getName() }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" (click)="salir()">Salir</a>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
