<footer class="footer bg-light text-center fixed-bottom">
  <div class="container-fluid">
    <div class="row text-muted">
      <div class="col-6 text-left">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="mailto:oscar.rivera.plaza@gmail.com">Soporte</a>
          </li>
        </ul>
      </div>
      <div class="col-6 text-right">
        <p class="mb-0">
          &copy; {{year}} - <a href="https://www.tgr.cl/" target="_blank" class="text-muted">TGR</a>
        </p>
      </div>
    </div>
  </div>
</footer>
