<div class="row text-muted">
  <div class="col-6 text-left">
    <h5 class="h3 mb-3">Redirect</h5>
    <p *ngIf="isValid">redireccionando a google</p>
    <p *ngIf="!isValid">Presione el menú login para iniciar sesión</p>
  </div>
</div>
