<ng-container *ngIf="!isValid">
  <div class="row text-muted">
    <div class="col-6 text-left">
      <h5 class="h3 mb-3">Landing</h5>
      <p>Debe iniciar sesión para ver el contenido. Presione el menú login.</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isValid">

  <div class="row text-muted">
    <div class="col-6 text-left">
      <p>Nombre: {{getName()}}</p>
      <p>Correo: {{getEmailId()}}</p>
    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <table id="random-table" class="table table-striped" style="width:100%">
        <thead>
        <tr>
          <th>Tiempo</th>
          <th>Texto</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <button value="ObtenerString" (click)="getRandomStr()">Generar String Random</button>

  <figure>
    <figcaption class="blockquote-footer">
      La primera llamada puede tomar más tiempo de lo normal, ya que requiere de instanciar la aplicación backend.
    </figcaption>
  </figure>


  <br>
  <br>

</ng-container>

